/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'primeng/resources/themes/saga-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import "primeicons/primeicons.css";



/* styles.css */
/* Aplicar Open Sans al body */
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
}

/* Clases de peso específicas basadas en la documentación */
.open-sans-light {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.open-sans-medium {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

.open-sans-semibold {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.open-sans-extra-bold {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*ButonLogin*/
.button-container {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-top: 20px;
}

.login-button {
    background-color: rgb(50, 30, 141) !important;
    color: #fff !important;
    border: none;
    text-align: center;
}