@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    display: flex;
    width: 1000px;
    height: 600px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 20px;
    justify-content: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.left-section{ 
    flex: 2; 
    height: 100%;
    border-radius: 30px 0px 0px 30px;
    background-color: rgb(50, 30, 141); 
}

.right-section {
    flex: 1.2;
    height: 100%;
    border-radius: 0px 30px 30px 0px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login-title {
    font-size: 2rem;
    color: rgb(50, 30, 141); 
    margin-bottom: 20px;
    align-self: flex-start;
}


.login-card {
    font-weight: 450;
    margin-bottom: 30px;
    font-size: 20px;
    color: rgb(50, 30, 141);
    align-self: center;
}

.login-container {
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #e7e7e7;
    width: 85%;
    max-width: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

form {
    display: flex;
    flex-direction: column;
    
}

label {
    margin-bottom: 2px;
    font-size: 1rem;
    color: #808080; 
}

input {
    margin-bottom: 20px;
    padding: 10px 0; 
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgba(50, 30, 141, 0.5);
    outline: none;
    width: 100%;
}

input:focus {
    border-bottom: 2px solid rgb(50, 30, 141);
}


.forgot-password {
    align-self: flex-end; 
    color: rgb(50, 30, 141);
    text-decoration: none;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.forgot-password:hover {
    text-decoration: underline;
}




@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 20px; 
        border: none; 
        box-shadow: none; 
    }

    .left-section {
        display: none; 
    }

    .right-section {
        flex: 1; 
        padding: 20px; 
        margin: 0 auto; 
        max-width: 400px; 
        border-radius: 20px; 
        background-color: rgb(255, 255, 255); 
    }

    .login-container {
        padding: 20px; 
        width: 100%; 
    }

    .login-title {
        font-size: 1.5rem; 
    }

    .login-your-account-title {
        font-size: 1.2rem; 
    }

    
    .forgot-password, .create-account {
        font-size: 0.8rem; 
    }
}
