<div class="wrapper">
    <div class="left-section">
        <!-- Puedes agregar contenido adicional aquí -->
    </div>

    <div class="right-section">
        <h2 class="login-title"> Hola! <span style="color: #808080;">Buen día</span> </h2>
        <div class="login-container">
            <form (ngSubmit)="login()">
                <h2 class="login-card">
                    Ingresa <span style="color: #808080;">tu cuenta</span>
                </h2>

                
                <div class="p-field">
                    <label for="username">Usuario</label>
                    <input                        
                        type="text"
                        id="username"
                        name="username"
                        [(ngModel)]="username"
                    />
                </div>

                <!-- Campo de entrada para la contraseña -->
                <div class="p-field">
                    <label for="password">Contraseña</label>
                    <input
                        feedback="false"
                        inputId="password"
                        type="password"
                        id="password"
                        name="password"
                        [(ngModel)]="password"
                    />
                </div>

                <!-- Enlace de "Forgot Password" -->
                <a href="#" class="forgot-password" style="color: #3f51b5;">Olvidó su contraseña?</a>

                <!-- Botón de inicio de sesión -->
                <div class="button-container" >
                    <p-button label="Ingresar" (click)="login()" styleClass="login-button"></p-button>
                </div>
                
            </form>
            

        </div>
    </div>
</div>

