<div class="wrapper">

    <div class="left-section">

    </div>

    <div class="right-section">
        <h2 class="login-title"> Hello! <br> Good Morning </h2>
        <div class="login-container">
            <form>
                <h2 class="login-your-account-title">
                    Login <span style="color: #808080;">your account</span>
                </h2>
                
                <input type="text" id="username" name="username" placeholder="User">
                
                
                <input type="password" id="password" name="password" placeholder="Password">
                
                <!-- Enlace de "Forgot Password" -->
                <a href="#" class="forgot-password">forget Password?</a>
                
                <button type="submit">Login</button>
            </form>
    
            <!-- Enlace de "Crear cuenta" -->
            <a href="#" class="create-account">create account</a>
        </div>
    </div>
    
</div>